:root {
  --font-family: 'Ubuntu', sans-serif;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-700: 700;
  --white: #ffffff;
  --black: #414141;
  --grey: #acacac;
  --blue: #507dc7;
}
