@import url('../../assets/styles/tools/vars.css');

.list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll hidden;
}
.list::-webkit-scrollbar {
  width: 100%;
  height: 1rem;
}
.list::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: var(--black);
}

.list .item {
  margin: 0 1rem;
  border-radius: 2rem;
}
.list .item:hover,
.list .item:focus {
  box-shadow: 0 0 1rem var(--blue);
}
.list .item:hover .button,
.list .item:focus .button {
  color: var(--black);
  background-color: var(--white);
}

.list .item .button {
  cursor: pointer;
  font-size: 1.5rem;
  padding: .5rem 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--blue);
  border-radius: 2rem;
  border: none;
}
