.details {
  width: 100%;
  height: auto;
}

.details .sources,
.details .info {
  margin-bottom: 8rem;
}

.details .sources {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.details .sources .figure {
  width: 30rem;
  height: 40rem;
}

.details .sources .figure .image {
  width: 100%;
  height: 100%;
}

.details .sources .trailer_video {
  width: 100%;
  height: 40rem;
}

.details .info {
  margin-bottom: 10rem;
}

.details .info div {
  margin-bottom: 2rem;
}

.details .info div .anime_title {
  font-size: 5rem;
  color: var(--blue);
}

.details .info div .anime_title a {
  font-size: .4em;
}

.details .info div time {
  font-size: 1.2rem;
}

.details .info .description {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.details .info u {
  display: inline-block;
  font-size: 1.8rem;
  margin-bottom: .5rem;
}

.details .info .list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

.details .info .list .item {
  list-style: initial;
  margin: 0 1.5rem;
  color: var(--black);
}
