@import url('../../assets/styles/tools/vars.css');

.animeList {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.animeList .card {
  width: 30rem;
  height: 50rem;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 0 1rem var(--black);
}

.animeList .card .figure {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 1rem;
}

.animeList .card .figure .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.animeList .card .figure .text {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1rem;
  font-size: 2rem;
  opacity: .8;
  color: var(--white);
  background-color: var(--black);
}
