@import url('../../assets/styles/tools/vars.css');

.searchContainer {
  width: 100%;
  margin-bottom: 2rem;
}

.searchContainer .search {
  width: 80%;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: var(--black);
  box-shadow: 0 .1rem 0 var(--blue);
  border-radius: .5rem;
  border: none;
  outline: none;
}

.searchContainer .search:focus {
  box-shadow: 0 0 .2rem var(--blue);
}
