@import url('../../assets/styles/tools/vars.css');

.list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

.list .item {
  margin: 1rem 0;
}

.list .item .text {
  color: var(--white);
}
