@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');
@import url('./tools/vars.css');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

html body {
  font-family: var(--font-family);
  background-color: var(--white);
  color: var(--black);
}

html body ul li {
  list-style: none;
}

html body  a {
  text-decoration: none;
}
